@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css');


/* Apply the font to all text elements except code blocks */
body, h1, h2, h3, p {
    font-family: 'League Spartan', sans-serif;
}

/* Reset font family for code blocks */
pre, code {
    font-family: monospace; /* Use default monospace font for code blocks */
}

title {
    color:#eb5e28;
}

a {
    color: #ffff;
    text-decoration: none;
}

a:hover {
    color: #eb5e28;
    text-decoration: none;
}




/* #MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;} */